# Effective pandas exercises

## 2.5 Exercises: 
1. Install pandas on your machine (using Anaconda or pip). 
2. Install Jupyter on your machine. 
3. Launch Jupyter and run the following in a cell: 
    - import pandas 
    - pandas.show_versions ()

In [19]:
# ! pip install pandas

In [20]:
import pandas as pd

In [21]:
print(pd.__version__)

2.1.1

In [22]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit              : e86ed377639948c64c429059127bcf5b359ab6be
python              : 3.11.0.final.0
python-bits         : 64
OS                  : Windows
OS-release          : 10
Version             : 10.0.19045
machine             : AMD64
processor           : AMD64 Family 23 Model 1 Stepping 1, AuthenticAMD
byteorder           : little
LC_ALL              : None
LANG                : None
LOCALE              : Spanish_Mexico.1252

pandas              : 2.1.1
numpy               : 1.26.0
pytz                : 2023.3.post1
dateutil            : 2.8.2
setuptools          : 65.5.0
pip                 : 22.3
Cython              : None
pytest              : None
hypothesis          : None
sphinx              : None
blosc               : None
feather             : None
xlsxwriter          : None
lxml.etree          : None
html5lib            : None
pymysql             : None
psycopg2            : None
jinja2              : None
IPython             : 8.16.1
pandas_datareader   : None
bs4                 : None
bottleneck          : None
dataframe-api-compat: None
fastparquet         : None
fsspec              : None
gcsfs               : None
matplotlib          : None
numba               : None
numexpr             : None
odfpy               : None
openpyxl            : None
pandas_gbq          : None
pyarrow             : None
pyreadstat          : None
pyxlsb              : None
s3fs                : None
scipy               : None
sqlalchemy          : None
tables              : None
tabulate            : None
xarray              : None
xlrd                : None
zstandard           : None
tzdata              : 2023.3
qtpy                : None
pyqt5               : None

## 3.2 Exercises: 
1. If you had a spreadsheet with data, which pandas data structure would you use to hold the data? Why? 
    - DataFrame, becasue it has similar dimensions to hold the data.

2. If you had a database with data, which pandas data structure would you use to hold the data? Why?
    - DataFrame after reading a query from a data base to hold the tabular data.

In [23]:
series = { 
    'index':[0 , 1 , 2 , 3] ,
    'data':[145 , 142 , 38 , 13] ,
    'name': 'songs'  }

In [24]:
def get ( series , idx ):  
    value_idx = series ['index']. index ( idx ) 
    return series ['data'][ value_idx ]

get(series,1)

142

In [25]:
songs = { 
    'index':[ 'Paul' , 'John' , 'George' , 'Ringo'], 
    'data':[145 , 142 , 38 , 13] ,
    'name': 'counts'
    } 

get ( songs , 'John')

142

In [26]:
songs2 = pd.Series([145, 142, 38, 13], name='counts')

In [27]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
songs3 = pd.Series(
    [145, 142, 38, 13], 
    name='counts',
    index=['Paul', 'Jhon', 'George', 'Ringo']
)

songs3.index

Index(['Paul', 'Jhon', 'George', 'Ringo'], dtype='object')

In [29]:
class Foo:
    pass

In [30]:
ringo = pd.Series(
    [ 'Richard', 'Starkey', 13, Foo()],
    name='ringo'
)

ringo

0                                        Richard
1                                        Starkey
2                                             13
3    <__main__.Foo object at 0x000001BFAE89DF10>
Name: ringo, dtype: object

In [31]:
import numpy as np

In [32]:
nan_series2 = pd.Series(
    [2, np.nan],
    index=['Ono', 'Clapton'],
    dtype='Int64'
)

nan_series2

Ono           2
Clapton    <NA>
dtype: Int64

In [33]:
nan_series2.count()

1

In [34]:
nan_series.astype('Int64')

NameError: name 'nan_series' is not defined

In [ ]:
numpy_ser = np.array([145, 142, 38, 13])
numpy_ser.mean()

84.5

In [ ]:
songs3.mean()

84.5

In [ ]:
mask = songs3 > songs3.median()
mask
songs3[mask]

Paul    145
Jhon    142
Name: counts, dtype: int64

In [ ]:
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])

In [ ]:
s = pd.Series(['m', 'l', 'xs', 's', 'xl'], dtype='category')
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [ ]:
s.cat.ordered

False

In [ ]:
s2 = pd.Series(['m', 'l', 'xs', 's', 'xl'], dtype='category')
size_type = pd.api.types.CategoricalDtype(
    categories=['s', 'm', 'l'], ordered=True
)
s3 = s2.astype(size_type)

In [ ]:
s3 > 's'

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
s.cat.reorder_categories(['xs', 's', 'm', 'l', 'xl'], ordered=True)

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

In [ ]:
s3.str.upper()

0      M
1      L
2    NaN
3      S
4    NaN
dtype: object

## 4.8 Exercises 
1. Create a series with the temperature values for the last seven days. Filter out the values below the mean. 

2. Create a series with your favorite colors. Use a categorical type.

In [ ]:
temperature = pd.Series([24.10, 24.9, 21.8, 24.9, 24.10, 25.11, 24.12])
temperature

0    24.10
1    24.90
2    21.80
3    24.90
4    24.10
5    25.11
6    24.12
dtype: float64

In [ ]:
mask = temperature > temperature.mean()
mask
temperature[mask]

1    24.90
3    24.90
5    25.11
dtype: float64

In [ ]:
colors = pd.Series(['blue', 'white', 'orange', 'yellow', 'red', 'green'], dtype='category')
colors

0      blue
1     white
2    orange
3    yellow
4       red
5     green
dtype: category
Categories (6, object): ['blue', 'green', 'orange', 'red', 'white', 'yellow']

## Chapter 5

In [36]:
url = 'vehicles.csv.zip'
df = pd.read_csv(url)
city_mpg = df.city08
highway_mpg = df.highway08

C:\Users\shama\AppData\Local\Temp\ipykernel_16560\231581158.py:2: DtypeWarning: Columns (72,74,75,77) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [38]:
len(dir(city_mpg))

418

In [37]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
46834    26
46835    28
46836    24
46837    24
46838    21
Name: highway08, Length: 46839, dtype: int64

## 5.4 Exercises 
1. Explore the documentation for five attributes of a series from Jupyter. 
2. How many attributes are found on the .str attribute? Look at the documentation for three of them. 
3. How many attributes are found on the .dt attribute? Look at the documentation for three of them.

In [ ]:
dir(city_mpg)[:20]

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__']

In [ ]:
s_str = pd.Series(['a','b','c'])

n_attributes = len(dir(s_str.str))

print('There are {} attributes foiund on the .str attribute'.format(n_attributes))

There are 100 attributes foiund on the .str attribute

In [ ]:
s_ts = pd.to_datetime(pd.Series(['2022-01-01','2022-01-02','2022-01-03']))

n_attributes = len(dir(s_ts.dt))

print('There are {} attributes foiund on the .dt attribute'.format(n_attributes))

There are 84 attributes foiund on the .dt attribute

In [ ]:
#The index of a Series is used to label and identify each element of the underlying data. 
#The index can be thought of as an immutable ordered set (technically a multi-set, as 
# it may contain duplicate labels), and is used to index and align data in pandas.
city_mpg.index

RangeIndex(start=0, stop=46839, step=1)

In [ ]:
# An ExtensionArray of the values stored within. For extension types, 
# this is the actual array. For NumPy native types, 
# this is a thin (no copy) wrapper around numpy.ndarray.
#.array differs .values which may require converting the data to a different form.
city_mpg.array

<NumpyExtensionArray>
[19,  9, 23, 10, 17, 21, 22, 23, 23, 23,
 ...
 18, 23, 21, 24, 21, 19, 20, 18, 18, 16]
Length: 46839, dtype: int64

In [ ]:
# Return Series as ndarray or ndarray-like depending on the dtype.
city_mpg.values

array([19,  9, 23, ..., 18, 18, 16], dtype=int64)

In [ ]:
# Return a Series/DataFrame with absolute numeric value of each element.
# This function only applies to elements that are all numeric.
city_mpg.abs

<bound method NDFrame.abs of 0        19
1         9
2        23
3        10
4        17
         ..
46834    19
46835    20
46836    18
46837    18
46838    16
Name: city08, Length: 46839, dtype: int64>

In [ ]:
# Return the dtype object of the underlying data.
city_mpg.dtype

dtype('int64')

## Chapter 6

In [ ]:
(city_mpg + highway_mpg)/2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
46834    22.5
46835    24.0
46836    21.0
46837    21.0
46838    18.5
Length: 46839, dtype: float64

In [ ]:
s1 = pd.Series([10, 20, 30], index=[1,2,2])
s2 = pd.Series([35, 44, 53], index=[2,2,4], name='s2')

In [ ]:
s1

1    10
2    20
2    30
dtype: int64

In [ ]:
s2

2    35
2    44
4    53
Name: s2, dtype: int64

In [ ]:
s1.add(s2, fill_value=0)

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

In [ ]:
((city_mpg +highway_mpg)/2)

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
46834    22.5
46835    24.0
46836    21.0
46837    21.0
46838    18.5
Length: 46839, dtype: float64

In [ ]:
(city_mpg.add(highway_mpg).div(2))

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
46834    22.5
46835    24.0
46836    21.0
46837    21.0
46838    18.5
Length: 46839, dtype: float64

## 6.9 Exercises With a dataset of your choice: 
1. Add a numeric series to itself. 
2. Add 10 to a numeric series. 
3. Add a numeric series to itself using the .add method. 
4. Read the documentation for the .add method.

In [ ]:
s1 + s1

1    20
2    40
2    60
dtype: int64

In [ ]:
s1 + 10

1    20
2    30
2    40
dtype: int64

In [ ]:
s1.add(s1)

1    20
2    40
2    60
dtype: int64

## Chapter 7

In [ ]:
city_mpg.quantile([.1, .5, .9])

0.1    13.0
0.5    18.0
0.9    25.0
Name: city08, dtype: float64

In [ ]:
(city_mpg.gt(20).sum())

13013

In [ ]:
(city_mpg.gt(20).mul(100).mean())

27.78240355259506

In [ ]:
city_mpg.agg('mean')

19.35075471295288

In [ ]:
def second_to_last(s):
    return s.iloc[-2]

In [ ]:
city_mpg.agg(['mean', 'var', 'max', second_to_last])

mean               19.350755
var               121.582272
max               153.000000
second_to_last     18.000000
Name: city08, dtype: float64

## 7.5 Exercises With a dataset of your choice: 
1. Find the count of non-missing values of a series. 
2. Find the number of entries of a series. 
3. Find the number of unique entries of a series. 
4. Find the mean value of a series.
5. Find the maximum value of a series. 
6. Use the .agg method to find all of the above.

In [ ]:
city_mpg.count()

46839

In [ ]:
city_mpg.size

46839

In [ ]:
city_mpg.nunique()

134

In [ ]:
city_mpg.nunique(dropna=True)

134

In [ ]:
city_mpg.mean()

19.35075471295288

In [ ]:
city_mpg.max()

153

In [ ]:
city_mpg.agg(['count', 'size', 'nunique', 'mean', 'max'])

count      46839.000000
size       46839.000000
nunique      134.000000
mean          19.350755
max          153.000000
Name: city08, dtype: float64

## Chapter 8

In [ ]:
city_mpg.convert_dtypes()

0        19
1         9
2        23
3        10
4        17
         ..
46834    19
46835    20
46836    18
46837    18
46838    16
Name: city08, Length: 46839, dtype: Int64

In [ ]:
city_mpg.astype('Int16')

0        19
1         9
2        23
3        10
4        17
         ..
46834    19
46835    20
46836    18
46837    18
46838    16
Name: city08, Length: 46839, dtype: Int16

In [ ]:
np.finfo('float64')

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

In [ ]:
city_mpg.nbytes

374712

In [ ]:
city_mpg.astype('Int16').nbytes

140517

In [ ]:
make = df.make
make.nbytes

374712

In [ ]:
make.memory_usage()

374840

In [ ]:
make.memory_usage(deep=True)

2966807

In [ ]:
make.astype('category').memory_usage(deep=True)

107720

In [ ]:
city_mpg.astype('category')

0        19
1         9
2        23
3        10
4        17
         ..
46834    19
46835    20
46836    18
46837    18
46838    16
Name: city08, Length: 46839, dtype: category
Categories (134, int64): [6, 7, 8, 9, ..., 148, 150, 151, 153]

In [ ]:
values = pd.Series(sorted(set(city_mpg)))
city_type = pd.CategoricalDtype(categories=values, ordered=True)
city_mpg.astype(city_type)

0        19
1         9
2        23
3        10
4        17
         ..
46834    19
46835    20
46836    18
46837    18
46838    16
Name: city08, Length: 46839, dtype: category
Categories (134, int64): [6 < 7 < 8 < 9 ... 148 < 150 < 151 < 153]

In [ ]:
city_mpg.to_frame()

       city08
0          19
1           9
2          23
3          10
4          17
...       ...
46834      19
46835      20
46836      18
46837      18
46838      16

[46839 rows x 1 columns]

## 8.7 Exercises With a dataset of your choice: 
1. Convert a numeric column to a smaller type. 
2. Calculate the memory savings by converting to smaller numeric types. 
3. Convert a string column into a categorical type. 
4. Calculate the memory savings by converting to a categorical type.

In [ ]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
46834    26
46835    28
46836    24
46837    24
46838    21
Name: highway08, Length: 46839, dtype: int64

In [ ]:
highway_mpg.nbytes

374712

In [ ]:
highway_mpg.astype('Int16').nbytes

140517

In [ ]:
createdOn = df.createdOn 
createdOn.nbytes

374712

In [ ]:
createdOn.astype('category').nbytes

97262

## Chapter 9 Manipulation Methods

In [ ]:
def gt20(val):
    return val > 20

In [39]:
%%timeit
city_mpg.apply(gt20)

8.17 ms ± 222 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [40]:
%%timeit
city_mpg.gt(20)

84.2 µs ± 1.36 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [41]:
make = df.make

In [43]:
make.value_counts()

make
Chevrolet                        4388
Ford                             3765
GMC                              2760
Dodge                            2682
BMW                              2424
                                 ...
Volga Associated Automobile         1
Panos                               1
Panoz Auto-Development              1
London Taxi                         1
Import Foreign Auto Sales Inc       1
Name: count, Length: 143, dtype: int64

In [44]:
top5 = make.value_counts().index[:5]
def generalize_top5(val):
    if val in top5:
        return val
    return 'Other'

In [47]:
%%timeit
make.apply(generalize_top5)

65.8 ms ± 981 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [52]:
#%%timeit
make.where(make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
46834    Other
46835    Other
46836    Other
46837    Other
46838    Other
Name: make, Length: 46839, dtype: object

In [51]:
make.mask(~make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
46834    Other
46835    Other
46836    Other
46837    Other
46838    Other
Name: make, Length: 46839, dtype: object

In [53]:
vc = make.value_counts()
top5 = vc.index[:5]
top10 = vc.index[:10]
def generalize(val):
    if val in top5:
        return val
    elif val in top10:
        return 'Top10'
    else:
        return 'Other'

In [54]:
make.apply(generalize)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
46834    Other
46835    Other
46836    Other
46837    Other
46838    Other
Name: make, Length: 46839, dtype: object

In [55]:
(make
 .where(make.isin(top5), 'Top10')
 .where(make.isin(top10), 'Other')
 )

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
46834    Other
46835    Other
46836    Other
46837    Other
46838    Other
Name: make, Length: 46839, dtype: object