# Effective pandas exercises

## 2.5 Exercises: 
1. Install pandas on your machine (using Anaconda or pip). 
2. Install Jupyter on your machine. 
3. Launch Jupyter and run the following in a cell: 
    - import pandas 
    - pandas.show_versions ()

In [ ]:
# ! pip install pandas

Collecting pandas
  Using cached pandas-2.1.1-cp311-cp311-win_amd64.whl (10.6 MB)
Collecting numpy>=1.23.2
  Using cached numpy-1.26.0-cp311-cp311-win_amd64.whl (15.8 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\programacion\cursosdeprogramacionpython\codigofacilito\bootcampdecienciadedatos\effectivepandas\pandas-env\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in d:\programacion\cursosdeprogramacionpython\codigofacilito\bootcampdecienciadedatos\effectivepandas\pandas-env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.0 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3

[notice] A new release of pip available: 22.3 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.1.1

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit              : e86ed377639948c64c429059127bcf5b359ab6be
python              : 3.11.0.final.0
python-bits         : 64
OS                  : Windows
OS-release          : 10
Version             : 10.0.19045
machine             : AMD64
processor           : AMD64 Family 23 Model 1 Stepping 1, AuthenticAMD
byteorder           : little
LC_ALL              : None
LANG                : None
LOCALE              : Spanish_Mexico.1252

pandas              : 2.1.1
numpy               : 1.26.0
pytz                : 2023.3.post1
dateutil            : 2.8.2
setuptools          : 65.5.0
pip                 : 22.3
Cython              : None
pytest              : None
hypothesis          : None
sphinx              : None
blosc               : None
feather             : None
xlsxwriter          : None
lxml.etree          : None
html5lib            : None
pymysql             : None
psycopg2            : None
jinja2              : None
IPython             : 8.16.1
pandas_datareader   : None
bs4                 : None
bottleneck          : None
dataframe-api-compat: None
fastparquet         : None
fsspec              : None
gcsfs               : None
matplotlib          : None
numba               : None
numexpr             : None
odfpy               : None
openpyxl            : None
pandas_gbq          : None
pyarrow             : None
pyreadstat          : None
pyxlsb              : None
s3fs                : None
scipy               : None
sqlalchemy          : None
tables              : None
tabulate            : None
xarray              : None
xlrd                : None
zstandard           : None
tzdata              : 2023.3
qtpy                : None
pyqt5               : None

d:\Programacion\CodigoFacilito\BootcampdeCienciadeDatos\effectivepandas\pandas-env\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

## 3.2 Exercises: 
1. If you had a spreadsheet with data, which pandas data structure would you use to hold the data? Why? 
    - DataFrame, becasue it has similar dimensions to hold the data.

2. If you had a database with data, which pandas data structure would you use to hold the data? Why?
    - DataFrame after reading a query from a data base to hold the tabular data.

In [8]:
series = { 
    'index':[0 , 1 , 2 , 3] ,
    'data':[145 , 142 , 38 , 13] ,
    'name': 'songs'  }

In [10]:
def get ( series , idx ):  
    value_idx = series ['index']. index ( idx ) 
    return series ['data'][ value_idx ]

get(series,1)

142

In [11]:
songs = { 
    'index':[ 'Paul' , 'John' , 'George' , 'Ringo'], 
    'data':[145 , 142 , 38 , 13] ,
    'name': 'counts'
    } 

get ( songs , 'John')

142

In [12]:
songs2 = pd.Series([145, 142, 38, 13], name='counts')

In [14]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
songs3 = pd.Series(
    [145, 142, 38, 13], 
    name='counts',
    index=['Paul', 'Jhon', 'George', 'Ringo']
)

songs3.index

Index(['Paul', 'Jhon', 'George', 'Ringo'], dtype='object')

In [18]:
class Foo:
    pass

In [20]:
ringo = pd.Series(
    [ 'Richard', 'Starkey', 13, Foo()],
    name='ringo'
)

ringo

0                                        Richard
1                                        Starkey
2                                             13
3    <__main__.Foo object at 0x000002F638F08A50>
Name: ringo, dtype: object

In [21]:
import numpy as np

In [25]:
nan_series2 = pd.Series(
    [2, np.nan],
    index=['Ono', 'Clapton'],
    dtype='Int64'
)

nan_series2

Ono           2
Clapton    <NA>
dtype: Int64

In [26]:
nan_series2.count()

1

In [27]:
nan_series.astype('Int64')

Ono           2
Clapton    <NA>
dtype: Int64

In [32]:
numpy_ser = np.array([145, 142, 38, 13])
numpy_ser.mean()

84.5

In [33]:
songs3.mean()

84.5

In [35]:
mask = songs3 > songs3.median()
mask
songs3[mask]

Paul    145
Jhon    142
Name: counts, dtype: int64

In [36]:
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])

In [38]:
s = pd.Series(['m', 'l', 'xs', 's', 'xl'], dtype='category')
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [39]:
s.cat.ordered

False

In [40]:
s2 = pd.Series(['m', 'l', 'xs', 's', 'xl'], dtype='category')
size_type = pd.api.types.CategoricalDtype(
    categories=['s', 'm', 'l'], ordered=True
)
s3 = s2.astype(size_type)

In [42]:
s3 > 's'

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [43]:
s.cat.reorder_categories(['xs', 's', 'm', 'l', 'xl'], ordered=True)

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

In [44]:
s3.str.upper()

0      M
1      L
2    NaN
3      S
4    NaN
dtype: object

## 4.8 Exercises 
1. Create a series with the temperature values for the last seven days. Filter out the values below the mean. 

2. Create a series with your favorite colors. Use a categorical type.

In [45]:
temperature = pd.Series([24.10, 24.9, 21.8, 24.9, 24.10, 25.11, 24.12])
temperature

0    24.10
1    24.90
2    21.80
3    24.90
4    24.10
5    25.11
6    24.12
dtype: float64

In [49]:
mask = temperature > temperature.mean()
mask
temperature[mask]

1    24.90
3    24.90
5    25.11
dtype: float64

In [51]:
colors = pd.Series(['blue', 'white', 'orange', 'yellow', 'red', 'green'], dtype='category')
colors

0      blue
1     white
2    orange
3    yellow
4       red
5     green
dtype: category
Categories (6, object): ['blue', 'green', 'orange', 'red', 'white', 'yellow']