# Effective pandas exercises

## 2.5 Exercises: 
1. Install pandas on your machine (using Anaconda or pip). 
2. Install Jupyter on your machine. 
3. Launch Jupyter and run the following in a cell: 
    - import pandas 
    - pandas.show_versions ()

In [33]:
# ! pip install pandas

In [34]:
import pandas as pd

In [35]:
print(pd.__version__)

2.1.1

In [36]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit              : e86ed377639948c64c429059127bcf5b359ab6be
python              : 3.11.0.final.0
python-bits         : 64
OS                  : Windows
OS-release          : 10
Version             : 10.0.19045
machine             : AMD64
processor           : AMD64 Family 23 Model 1 Stepping 1, AuthenticAMD
byteorder           : little
LC_ALL              : None
LANG                : None
LOCALE              : Spanish_Mexico.1252

pandas              : 2.1.1
numpy               : 1.26.0
pytz                : 2023.3.post1
dateutil            : 2.8.2
setuptools          : 65.5.0
pip                 : 22.3
Cython              : None
pytest              : None
hypothesis          : None
sphinx              : None
blosc               : None
feather             : None
xlsxwriter          : None
lxml.etree          : None
html5lib            : None
pymysql             : None
psycopg2            : None
jinja2              : None
IPython             : 8.16.1
pandas_datareader   : None
bs4                 : None
bottleneck          : None
dataframe-api-compat: None
fastparquet         : None
fsspec              : None
gcsfs               : None
matplotlib          : None
numba               : None
numexpr             : None
odfpy               : None
openpyxl            : None
pandas_gbq          : None
pyarrow             : None
pyreadstat          : None
pyxlsb              : None
s3fs                : None
scipy               : None
sqlalchemy          : None
tables              : None
tabulate            : None
xarray              : None
xlrd                : None
zstandard           : None
tzdata              : 2023.3
qtpy                : None
pyqt5               : None

## 3.2 Exercises: 
1. If you had a spreadsheet with data, which pandas data structure would you use to hold the data? Why? 
    - DataFrame, becasue it has similar dimensions to hold the data.

2. If you had a database with data, which pandas data structure would you use to hold the data? Why?
    - DataFrame after reading a query from a data base to hold the tabular data.

In [37]:
series = { 
    'index':[0 , 1 , 2 , 3] ,
    'data':[145 , 142 , 38 , 13] ,
    'name': 'songs'  }

In [38]:
def get ( series , idx ):  
    value_idx = series ['index']. index ( idx ) 
    return series ['data'][ value_idx ]

get(series,1)

142

In [39]:
songs = { 
    'index':[ 'Paul' , 'John' , 'George' , 'Ringo'], 
    'data':[145 , 142 , 38 , 13] ,
    'name': 'counts'
    } 

get ( songs , 'John')

142

In [40]:
songs2 = pd.Series([145, 142, 38, 13], name='counts')

In [41]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [42]:
songs3 = pd.Series(
    [145, 142, 38, 13], 
    name='counts',
    index=['Paul', 'Jhon', 'George', 'Ringo']
)

songs3.index

Index(['Paul', 'Jhon', 'George', 'Ringo'], dtype='object')

In [43]:
class Foo:
    pass

In [44]:
ringo = pd.Series(
    [ 'Richard', 'Starkey', 13, Foo()],
    name='ringo'
)

ringo

0                                        Richard
1                                        Starkey
2                                             13
3    <__main__.Foo object at 0x000002998A260190>
Name: ringo, dtype: object

In [45]:
import numpy as np

In [46]:
nan_series2 = pd.Series(
    [2, np.nan],
    index=['Ono', 'Clapton'],
    dtype='Int64'
)

nan_series2

Ono           2
Clapton    <NA>
dtype: Int64

In [47]:
nan_series2.count()

1

In [48]:
#nan_series.astype('Int64')

In [49]:
numpy_ser = np.array([145, 142, 38, 13])
numpy_ser.mean()

84.5

In [50]:
songs3.mean()

84.5

In [51]:
mask = songs3 > songs3.median()
mask
songs3[mask]

Paul    145
Jhon    142
Name: counts, dtype: int64

In [52]:
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])

In [53]:
s = pd.Series(['m', 'l', 'xs', 's', 'xl'], dtype='category')
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [54]:
s.cat.ordered

False

In [55]:
s2 = pd.Series(['m', 'l', 'xs', 's', 'xl'], dtype='category')
size_type = pd.api.types.CategoricalDtype(
    categories=['s', 'm', 'l'], ordered=True
)
s3 = s2.astype(size_type)

In [56]:
s3 > 's'

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [57]:
s.cat.reorder_categories(['xs', 's', 'm', 'l', 'xl'], ordered=True)

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

In [58]:
s3.str.upper()

0      M
1      L
2    NaN
3      S
4    NaN
dtype: object

## 4.8 Exercises 
1. Create a series with the temperature values for the last seven days. Filter out the values below the mean. 

2. Create a series with your favorite colors. Use a categorical type.

In [59]:
temperature = pd.Series([24.10, 24.9, 21.8, 24.9, 24.10, 25.11, 24.12])
temperature

0    24.10
1    24.90
2    21.80
3    24.90
4    24.10
5    25.11
6    24.12
dtype: float64

In [60]:
mask = temperature > temperature.mean()
mask
temperature[mask]

1    24.90
3    24.90
5    25.11
dtype: float64

In [61]:
colors = pd.Series(['blue', 'white', 'orange', 'yellow', 'red', 'green'], dtype='category')
colors

0      blue
1     white
2    orange
3    yellow
4       red
5     green
dtype: category
Categories (6, object): ['blue', 'green', 'orange', 'red', 'white', 'yellow']

## Chapter 5

In [62]:
url = 'vehicles.csv.zip'
df = pd.read_csv(url)
city_mpg = df.city08
highway_mpg = df.highway08

C:\Users\shama\AppData\Local\Temp\ipykernel_11948\231581158.py:2: DtypeWarning: Columns (72,74,75,77) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [63]:
len(dir(city_mpg))

418

In [64]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
46834    26
46835    28
46836    24
46837    24
46838    21
Name: highway08, Length: 46839, dtype: int64

## 5.4 Exercises 
1. Explore the documentation for five attributes of a series from Jupyter. 
2. How many attributes are found on the .str attribute? Look at the documentation for three of them. 
3. How many attributes are found on the .dt attribute? Look at the documentation for three of them.

In [65]:
dir(city_mpg)[:20]

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__']

In [66]:
s_str = pd.Series(['a','b','c'])

n_attributes = len(dir(s_str.str))

print('There are {} attributes foiund on the .str attribute'.format(n_attributes))

There are 100 attributes foiund on the .str attribute

In [67]:
s_ts = pd.to_datetime(pd.Series(['2022-01-01','2022-01-02','2022-01-03']))

n_attributes = len(dir(s_ts.dt))

print('There are {} attributes foiund on the .dt attribute'.format(n_attributes))

There are 84 attributes foiund on the .dt attribute

In [68]:
#The index of a Series is used to label and identify each element of the underlying data. 
#The index can be thought of as an immutable ordered set (technically a multi-set, as 
# it may contain duplicate labels), and is used to index and align data in pandas.
city_mpg.index

RangeIndex(start=0, stop=46839, step=1)

In [69]:
# An ExtensionArray of the values stored within. For extension types, 
# this is the actual array. For NumPy native types, 
# this is a thin (no copy) wrapper around numpy.ndarray.
#.array differs .values which may require converting the data to a different form.
city_mpg.array

<NumpyExtensionArray>
[19,  9, 23, 10, 17, 21, 22, 23, 23, 23,
 ...
 18, 23, 21, 24, 21, 19, 20, 18, 18, 16]
Length: 46839, dtype: int64

In [70]:
# Return Series as ndarray or ndarray-like depending on the dtype.
city_mpg.values

array([19,  9, 23, ..., 18, 18, 16], dtype=int64)

In [71]:
# Return a Series/DataFrame with absolute numeric value of each element.
# This function only applies to elements that are all numeric.
city_mpg.abs

<bound method NDFrame.abs of 0        19
1         9
2        23
3        10
4        17
         ..
46834    19
46835    20
46836    18
46837    18
46838    16
Name: city08, Length: 46839, dtype: int64>

In [72]:
# Return the dtype object of the underlying data.
city_mpg.dtype

dtype('int64')

## Chapter 6

In [73]:
(city_mpg + highway_mpg)/2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
46834    22.5
46835    24.0
46836    21.0
46837    21.0
46838    18.5
Length: 46839, dtype: float64

In [74]:
s1 = pd.Series([10, 20, 30], index=[1,2,2])
s2 = pd.Series([35, 44, 53], index=[2,2,4], name='s2')

In [75]:
s1

1    10
2    20
2    30
dtype: int64

In [76]:
s2

2    35
2    44
4    53
Name: s2, dtype: int64

In [77]:
s1.add(s2, fill_value=0)

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

In [78]:
((city_mpg +highway_mpg)/2)

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
46834    22.5
46835    24.0
46836    21.0
46837    21.0
46838    18.5
Length: 46839, dtype: float64

In [79]:
(city_mpg.add(highway_mpg).div(2))

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
46834    22.5
46835    24.0
46836    21.0
46837    21.0
46838    18.5
Length: 46839, dtype: float64

## 6.9 Exercises With a dataset of your choice: 
1. Add a numeric series to itself. 
2. Add 10 to a numeric series. 
3. Add a numeric series to itself using the .add method. 
4. Read the documentation for the .add method.

In [80]:
s1 + s1

1    20
2    40
2    60
dtype: int64

In [81]:
s1 + 10

1    20
2    30
2    40
dtype: int64

In [82]:
s1.add(s1)

1    20
2    40
2    60
dtype: int64

## Chapter 7

In [83]:
city_mpg.quantile([.1, .5, .9])

0.1    13.0
0.5    18.0
0.9    25.0
Name: city08, dtype: float64

In [84]:
(city_mpg.gt(20).sum())

13013

In [85]:
(city_mpg.gt(20).mul(100).mean())

27.78240355259506

In [86]:
city_mpg.agg('mean')

19.35075471295288

In [87]:
def second_to_last(s):
    return s.iloc[-2]

In [88]:
city_mpg.agg(['mean', 'var', 'max', second_to_last])

mean               19.350755
var               121.582272
max               153.000000
second_to_last     18.000000
Name: city08, dtype: float64

## 7.5 Exercises With a dataset of your choice: 
1. Find the count of non-missing values of a series. 
2. Find the number of entries of a series. 
3. Find the number of unique entries of a series. 
4. Find the mean value of a series.
5. Find the maximum value of a series. 
6. Use the .agg method to find all of the above.

In [89]:
city_mpg.count()

46839

In [90]:
city_mpg.size

46839

In [91]:
city_mpg.nunique()

134

In [92]:
city_mpg.nunique(dropna=True)

134

In [93]:
city_mpg.mean()

19.35075471295288

In [94]:
city_mpg.max()

153

In [95]:
city_mpg.agg(['count', 'size', 'nunique', 'mean', 'max'])

count      46839.000000
size       46839.000000
nunique      134.000000
mean          19.350755
max          153.000000
Name: city08, dtype: float64

## Chapter 8

In [96]:
city_mpg.convert_dtypes()

0        19
1         9
2        23
3        10
4        17
         ..
46834    19
46835    20
46836    18
46837    18
46838    16
Name: city08, Length: 46839, dtype: Int64

In [97]:
city_mpg.astype('Int16')

0        19
1         9
2        23
3        10
4        17
         ..
46834    19
46835    20
46836    18
46837    18
46838    16
Name: city08, Length: 46839, dtype: Int16

In [98]:
np.finfo('float64')

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

In [99]:
city_mpg.nbytes

374712

In [100]:
city_mpg.astype('Int16').nbytes

140517

In [101]:
make = df.make
make.nbytes

374712

In [102]:
make.memory_usage()

374840

In [103]:
make.memory_usage(deep=True)

2966807

In [104]:
make.astype('category').memory_usage(deep=True)

107720

In [105]:
city_mpg.astype('category')

0        19
1         9
2        23
3        10
4        17
         ..
46834    19
46835    20
46836    18
46837    18
46838    16
Name: city08, Length: 46839, dtype: category
Categories (134, int64): [6, 7, 8, 9, ..., 148, 150, 151, 153]

In [106]:
values = pd.Series(sorted(set(city_mpg)))
city_type = pd.CategoricalDtype(categories=values, ordered=True)
city_mpg.astype(city_type)

0        19
1         9
2        23
3        10
4        17
         ..
46834    19
46835    20
46836    18
46837    18
46838    16
Name: city08, Length: 46839, dtype: category
Categories (134, int64): [6 < 7 < 8 < 9 ... 148 < 150 < 151 < 153]

In [107]:
city_mpg.to_frame()

       city08
0          19
1           9
2          23
3          10
4          17
...       ...
46834      19
46835      20
46836      18
46837      18
46838      16

[46839 rows x 1 columns]

## 8.7 Exercises With a dataset of your choice: 
1. Convert a numeric column to a smaller type. 
2. Calculate the memory savings by converting to smaller numeric types. 
3. Convert a string column into a categorical type. 
4. Calculate the memory savings by converting to a categorical type.

In [108]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
46834    26
46835    28
46836    24
46837    24
46838    21
Name: highway08, Length: 46839, dtype: int64

In [109]:
highway_mpg.nbytes

374712

In [110]:
highway_mpg.astype('Int16').nbytes

140517

In [111]:
createdOn = df.createdOn 
createdOn.nbytes

374712

In [112]:
createdOn.astype('category').nbytes

97262

## Chapter 9 Manipulation Methods

In [113]:
def gt20(val):
    return val > 20

In [114]:
%%timeit
city_mpg.apply(gt20)

8 ms ± 183 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [115]:
%%timeit
city_mpg.gt(20)

83.1 µs ± 755 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [153]:
make = df.make
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
46834        Subaru
46835        Subaru
46836        Subaru
46837        Subaru
46838        Subaru
Name: make, Length: 46839, dtype: object

In [117]:
make.value_counts()

make
Chevrolet                        4388
Ford                             3765
GMC                              2760
Dodge                            2682
BMW                              2424
                                 ...
Volga Associated Automobile         1
Panos                               1
Panoz Auto-Development              1
London Taxi                         1
Import Foreign Auto Sales Inc       1
Name: count, Length: 143, dtype: int64

In [118]:
top5 = make.value_counts().index[:5]
def generalize_top5(val):
    if val in top5:
        return val
    return 'Other'

In [119]:
%%timeit
make.apply(generalize_top5)

64.4 ms ± 1.07 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [120]:
#%%timeit
make.where(make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
46834    Other
46835    Other
46836    Other
46837    Other
46838    Other
Name: make, Length: 46839, dtype: object

In [121]:
make.mask(~make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
46834    Other
46835    Other
46836    Other
46837    Other
46838    Other
Name: make, Length: 46839, dtype: object

In [122]:
vc = make.value_counts()
top5 = vc.index[:5]
top10 = vc.index[:10]
def generalize(val):
    if val in top5:
        return val
    elif val in top10:
        return 'Top10'
    else:
        return 'Other'

In [123]:
make.apply(generalize)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
46834    Other
46835    Other
46836    Other
46837    Other
46838    Other
Name: make, Length: 46839, dtype: object

In [124]:
(make
 .where(make.isin(top5), 'Top10')
 .where(make.isin(top10), 'Other')
 )

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
46834    Other
46835    Other
46836    Other
46837    Other
46838    Other
Name: make, Length: 46839, dtype: object

In [127]:
pd.Series(np.select([make.isin(top5), make.isin(top10)],
    [make, 'top10'], 'Other'), index=make.index)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
46834    Other
46835    Other
46836    Other
46837    Other
46838    Other
Length: 46839, dtype: object

In [128]:
cyl = df.cylinders
(cyl.isna().sum())

603

In [129]:
missing = cyl.isna()
make.loc[missing]

7138      Nissan
7139      Toyota
8143      Toyota
8144        Ford
8146        Ford
          ...
40674     Rivian
40675     Rivian
40676     Rivian
40677    Vinfast
40678    Vinfast
Name: make, Length: 603, dtype: object

In [130]:
cyl[cyl.isna()]

7138    NaN
7139    NaN
8143    NaN
8144    NaN
8146    NaN
         ..
40674   NaN
40675   NaN
40676   NaN
40677   NaN
40678   NaN
Name: cylinders, Length: 603, dtype: float64

In [131]:
cyl.fillna(0).loc[7136:7141]

7136    6.0
7137    6.0
7138    0.0
7139    0.0
7140    6.0
7141    6.0
Name: cylinders, dtype: float64

In [133]:
temp = pd.Series([32, 40, None, 42, 39, 32])
temp

0    32.0
1    40.0
2     NaN
3    42.0
4    39.0
5    32.0
dtype: float64

In [134]:
temp.interpolate()

0    32.0
1    40.0
2    41.0
3    42.0
4    39.0
5    32.0
dtype: float64

In [135]:
city_mpg.loc[:446]

0      19
1       9
2      23
3      10
4      17
       ..
442    15
443    15
444    15
445    15
446    31
Name: city08, Length: 447, dtype: int64

In [136]:
(
    city_mpg
    .loc[:446]
    .clip(lower=city_mpg.quantile(.05),
          upper=city_mpg.quantile(.95))
)

0      19
1      11
2      23
3      11
4      17
       ..
442    15
443    15
444    15
445    15
446    28
Name: city08, Length: 447, dtype: int64

In [137]:
city_mpg.sort_values()

42856      6
41582      6
34522      6
21057      6
7901       6
        ...
31226    150
40625    151
40256    151
40623    153
40254    153
Name: city08, Length: 46839, dtype: int64

In [138]:
(city_mpg.sort_values() + highway_mpg)/2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
46834    22.5
46835    24.0
46836    21.0
46837    21.0
46838    18.5
Length: 46839, dtype: float64

In [139]:
city_mpg.sort_values().sort_index()

0        19
1         9
2        23
3        10
4        17
         ..
46834    19
46835    20
46836    18
46837    18
46838    16
Name: city08, Length: 46839, dtype: int64

In [140]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
46834    19
46835    20
46836    18
46837    18
46838    16
Name: city08, Length: 46839, dtype: int64

In [141]:
city_mpg.drop_duplicates()

0         19
1          9
2         23
3         10
4         17
        ...
38608     82
39582    111
40254    153
40256    151
40663     65
Name: city08, Length: 134, dtype: int64

In [142]:
city_mpg.rank()

0        29408.5
1          252.0
2        39697.5
3          633.5
4        21051.5
          ...
46834    29408.5
46835    32478.0
46836    25469.0
46837    25469.0
46838    16677.0
Name: city08, Length: 46839, dtype: float64

In [143]:
city_mpg.rank(method='min')

0        27688.0
1          147.0
2        38829.0
3          358.0
4        18853.0
          ...
46834    27688.0
46835    31130.0
46836    23251.0
46837    23251.0
46838    14502.0
Name: city08, Length: 46839, dtype: float64

In [144]:
city_mpg.rank(method='dense')

0        14.0
1         4.0
2        18.0
3         5.0
4        12.0
         ...
46834    14.0
46835    15.0
46836    13.0
46837    13.0
46838    11.0
Name: city08, Length: 46839, dtype: float64

In [145]:
make.replace('Subaru', 'スバル')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4               スバル
            ...
46834           スバル
46835           スバル
46836           スバル
46837           スバル
46838           スバル
Name: make, Length: 46839, dtype: object

In [146]:
pd.cut(city_mpg, [0, 10, 20, 40, 70, 150])

0        (10, 20]
1         (0, 10]
2        (20, 40]
3         (0, 10]
4        (10, 20]
           ...
46834    (10, 20]
46835    (10, 20]
46836    (10, 20]
46837    (10, 20]
46838    (10, 20]
Name: city08, Length: 46839, dtype: category
Categories (5, interval[int64, right]): [(0, 10] < (10, 20] < (20, 40] < (40, 70] < (70, 150]]

In [147]:
pd.qcut(city_mpg, 10)

0         (18.0, 19.0]
1        (5.999, 13.0]
2         (22.0, 25.0]
3        (5.999, 13.0]
4         (16.0, 18.0]
             ...
46834     (18.0, 19.0]
46835     (19.0, 20.0]
46836     (16.0, 18.0]
46837     (16.0, 18.0]
46838     (15.0, 16.0]
Name: city08, Length: 46839, dtype: category
Categories (10, interval[float64, right]): [(5.999, 13.0] < (13.0, 14.0] < (14.0, 15.0] < (15.0, 16.0] ... (19.0, 20.0] < (20.0, 22.0] < (22.0, 25.0] < (25.0, 153.0]]

In [148]:
pd.qcut(city_mpg, 10, labels=list(range(1,11)))

0        6
1        1
2        9
3        1
4        5
        ..
46834    6
46835    7
46836    5
46837    5
46838    4
Name: city08, Length: 46839, dtype: category
Categories (10, int64): [1 < 2 < 3 < 4 ... 7 < 8 < 9 < 10]

## 9.14 Exercises With a dataset of your choice: 

1. Create a series from a numeric column that has the value of 'high' if it is equal to or above the mean and 'low' if it is below the mean using .apply. 

2. Create a series from a numeric column that has the value of 'high' if it is equal to or above the mean and 'low' if it is below the mean using np.select. 

3. Time the differences between the previous two solutions to see which is faster. 

4. Replace the missing values of a numeric series with the median value. 

5. Clip the values of a numeric series to between to 10th and 90th percentiles.

6. Using a categorical column, replace any value that is not in the top 5 most frequent values with 'Other'. 

7. Using a categorical column, replace any value that is not in the top 10 most frequent values with 'Other'. 

8. Make a function that takes a categorical series and a number (n) and returns a replace series that replaces any value that is not in the top n most frequent values with 'Other'. 

9. Using a numeric column, bin it into 10 groups that have the same width. 

10. Using a numeric column, bin it into 10 groups that have equal sized bins.

In [150]:
city_mpg.mean()

19.35075471295288

In [151]:
mean = city_mpg.mean()
def high_low(val):
    if val >= mean:
        return 'high'
    return 'low'

In [161]:
mean2 = [18, 20]

In [155]:
city_mpg.apply(high_low)

0         low
1         low
2        high
3         low
4         low
         ...
46834     low
46835    high
46836     low
46837     low
46838     low
Name: city08, Length: 46839, dtype: object

In [167]:
pd.Series(np.select([city_mpg.ge(mean), city_mpg.lt(mean)],
    ['high', 'low']), index=city_mpg.index)

0         low
1         low
2        high
3         low
4         low
         ...
46834     low
46835    high
46836     low
46837     low
46838     low
Length: 46839, dtype: object